* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: flex;
    background-color: rgb(108, 0, 135);
}


.col {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.h1 first {
    font-weight: bold;
    font-size: xx-large;
    border-radius: 10px;
    user-select: none;
    transition: background 0.35s;
    color: white;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
}

.h1 second {
    font-weight: bold;
    font-size: xx-large;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.35s;
    color: white;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.5);
    border-spacing: 10%;
}

.second:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.longer {
    width: 25vh;
}

.small {
    width: 14vh;
}

.small2 {
    width: 19vh;
}

.small3 {
    width: 24vh;
}

.medium {
    width: 29vh;
}

.medium2 {
    width: 34vh;
}

.medium3 {
    width: 39vh;
}

.big {
    width: 44vh;
}

.big2 {
    width: 49vh;
}

.col h1 {
    margin-top: 1.5vh;
    border-radius: 10px;
    user-select: none;
    transition: background 0.35s;
    color: white;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    text-align: center;
}

.col h2 {
    margin-top: 0.7vh;
    /* padding-top: 1.5vh; */
    padding-top: 1vh;
    /* width: 20vh; */
    height: 6.5vh;
    font-size: xx-large;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.2s;
    color: white;
    text-shadow: 0px 0px 8px rgb(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    vertical-align: middle;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.5);
}

.col h2:hover {
    background-color: rgba(0, 0, 0, 0.3);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

/* .col button {
    margin-bottom: -15%;
    outline: none;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background: transparent;
    transition: background 0.35s;
    font-size: 2rem;
    color: white;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.col button:hover {
    background-color: rgba(0, 0, 0, 0.1);
} */


.copyright h1 {
    color: rgb(255, 255, 255, 0.3);
    font-weight: bold;
    text-shadow: 0px 2px 15px;
    margin: 0 auto;
    margin-top: 1.5vh;
    text-align: center;
    font-size: small;
    color: gray;
    margin-bottom: 5vh;
    position: absolute;
    bottom: -2.5vh;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 18vh;
    border-radius: 10px;
    padding: 1.5vh;
    padding-bottom: 1.4vh;
    color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  }

.copyright h1:hover {
    background-color: rgba(0, 0, 0, 0.7);
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
}

.copyright a {
    color: rgb(210, 0, 217);
    text-shadow: 0px 0px 10px rgb(133, 0, 133);
}

.copyright a:hover {
    color: rgb(187, 0, 175);
    text-shadow: 0px 0px 5px rgb(255, 91, 255);
}

.header h1 {
    color: rgb(255, 255, 255, 0.3);
    font-weight: bold;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
    margin: 0 auto;
    text-align: center;
    font-size: 1.7vh;
    color: gray;
    margin-bottom: 5vh;
    position: absolute;
    bottom: 83.7vh;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 35vh;
    border-radius: 10px;
    padding: 2vh;
    padding-bottom: 2vh;
    color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
    user-select: none;
  }

.header h1:hover {
    background-color: rgba(0, 0, 0, 0.7);
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
}

.header a {
    color: rgb(210, 0, 217);
    text-shadow: 0px 0px 10px rgb(133, 0, 133);
}

.header a:hover {
    color: rgb(187, 0, 175);
    text-shadow: 0px 0px 5px rgb(255, 91, 255);
}

@media screen and (min-width: 250px) and (max-width: 349px) {

    .col h2 {
        margin-top: 0.7vh;
        padding-top: 1vh;
        height: 6.8vh;
        width: 37vh;
        font-size: x-large;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.35s;
        color: white;
        text-shadow: 0px 0px 8px rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        vertical-align: middle;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }
    
    .col h2:hover {
        background-color: rgba(0, 0, 0, 0.3);
        text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
    }

    .copyright h1 {
        width: 23vh;
      }
}

@media screen and (min-width: 350px) and (max-width: 374px) {
    .col h2 {
        margin-top: 0.7vh;
        padding-top: 1vh;
        height: 7.7vh;
        width: 41vh;
        font-size: xx-large;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.35s;
        color: white;
        text-shadow: 0px 0px 8px rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        vertical-align: middle;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }
    
    .col h2:hover {
        background-color: rgba(0, 0, 0, 0.3);
        text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
    }

    .copyright h1 {
        width: 23vh;
      }
}

@media screen and (min-width: 375px) and (max-width: 389px) {
    .col h2 {
        margin-top: 0.7vh;
        padding-top: 1vh;
        height: 8.2vh;
        width: 44vh;
        font-size: xx-large;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.35s;
        color: white;
        text-shadow: 0px 0px 8px rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        vertical-align: middle;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }
    
    .col h2:hover {
        background-color: rgba(0, 0, 0, 0.3);
        text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
    }

    .copyright h1 {
        width: 23vh;
      }
}

@media screen and (min-width: 390px) and (max-width: 399px) {
    .col h2 {
        margin-top: 0.7vh;
        padding-top: 1vh;
        height: 6.8vh;
        width: 38vh;
        font-size: xx-large;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.35s;
        color: white;
        text-shadow: 0px 0px 8px rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        vertical-align: middle;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }
    
    .col h2:hover {
        background-color: rgba(0, 0, 0, 0.3);
        text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
    }

    .copyright h1 {
        width: 23vh;
      }
}

@media screen and (min-width: 400px) and (max-width: 499px) {
    .col h2 {
        margin-top: 0.7vh;
        padding-top: 1vh;
        height: 6.5vh;
        width: 35vh;
        font-size: xx-large;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.35s;
        color: white;
        text-shadow: 0px 0px 8px rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        vertical-align: middle;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }
    
    .col h2:hover {
        background-color: rgba(0, 0, 0, 0.3);
        text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
    }

    .copyright h1 {
        width: 23vh;
      }
}

@media screen and (min-width: 500px) and (max-width: 599px) {
    .col h2 {
        margin-top: 0.7vh;
        padding-top: 1vh;
        height: 8vh;
        width: 43vh;
        font-size: xx-large;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.35s;
        color: white;
        text-shadow: 0px 0px 8px rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        vertical-align: middle;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }
    
    .col h2:hover {
        background-color: rgba(0, 0, 0, 0.3);
        text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
    }

    .copyright h1 {
        width: 23vh;
      }
}

@media screen and (min-width: 600px) and (max-width: 779px) {
    .col h2 {
        margin-top: 0.7vh;
        padding-top: 1vh;
        height: 6vh;
        width: 28vh;
        font-size: xx-large;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.35s;
        color: white;
        text-shadow: 0px 0px 8px rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        vertical-align: middle;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }
    
    .col h2:hover {
        background-color: rgba(0, 0, 0, 0.3);
        text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
    }

    .copyright h1 {
        width: 23vh;
      }
}

@media screen and (min-width: 780px) and (max-width: 849px) {
    .col h2 {
        margin-top: 0.7vh;
        padding-top: 1vh;
        height: 5.4vh;
        width: 28vh;
        font-size: xx-large;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.35s;
        color: white;
        text-shadow: 0px 0px 8px rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        vertical-align: middle;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }
    
    .col h2:hover {
        background-color: rgba(0, 0, 0, 0.3);
        text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
    }

    .copyright h1 {
        width: 23vh;
      }
}

@media screen and (min-width: 850px) and (max-width: 999px) {
    .col h2 {
        margin-top: 0.7vh;
        padding-top: 1vh;
        height: 5vh;
        width: 24vh;
        font-size: xx-large;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.35s;
        color: white;
        text-shadow: 0px 0px 8px rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        vertical-align: middle;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }
    
    .col h2:hover {
        background-color: rgba(0, 0, 0, 0.3);
        text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
    }

    .copyright h1 {
        width: 15vh;
      }
}

@media screen and (min-width: 1000px) and (max-width: 1149px) {
    .col h2 {
        margin-top: 0.7vh;
        padding-top: 1vh;
        height: 8.8vh;
        width: 50vh;
        font-size: xx-large;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.35s;
        color: white;
        text-shadow: 0px 0px 8px rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        vertical-align: middle;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }
    
    .col h2:hover {
        background-color: rgba(0, 0, 0, 0.3);
        text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
    }

    .copyright h1 {
        width: 27vh;
      }
}

@media screen and (min-width: 1150px) and (max-width: 1280px) {
    .col h2 {
        margin-top: 0.7vh;
        padding-top: 1vh;
        height: 7.1vh;
        width: 40vh;
        font-size: xx-large;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.35s;
        color: white;
        text-shadow: 0px 0px 8px rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        vertical-align: middle;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    }
    
    .col h2:hover {
        background-color: rgba(0, 0, 0, 0.3);
        text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
    }

    .copyright h1 {
        width: 2vh;
      }
}